{{!-- user login up option  --}}
<div class="hero-body">
    <div class="container">
        <p class="title"> Log In </p>
    </div>
</div>

<section>
    <div class="container">
        <div class="box" id="login-form">
            <div class="field">
            <input class="input" id="username-login" type="username" placeholder="Username">
            </div>
            <div class="field">
            <input class="input" id="password-login" type="password" placeholder="Password">
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-warning" id="log-in-submit"> Login </button>
                    <button class="button is-warning"> 
                    <a class="has-text-dark" href="./signup">Sign Up Instead </a> 
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>

<script src="/js/login.js"></script>