{{!-- user signup up option  --}}
<div class="hero-body">
    <div class="container">
        <p class="title"> Sign Up </p>
    </div>
</div>

<section>
    <div class="container">
        <div class="box" id="signup-form">
            <div class="field">
            <input class="input" id="username-signup" type="username" placeholder="Username">
            </div>
            <div class="field">
            <input class="input" id="password-signup" type="password" placeholder="Password">
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-warning" id="sign-up-submit"> Sign Up! </button>
                    <button class="button is-warning"> 
                    <a class="has-text-dark" href="./login">Log In Instead </a> 
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>

<script src="/js/singup.js"></script>