html,
body {
  min-height: 100%;
}
body,
div,
form,
input,
select,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container.container-fluid {
  width: 92%;
}
form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 25px 0 #1c87c9;
}
input,
select,
textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input {
  width: calc(100% - 10px);
  padding: 5px;
}


.item input:hover,
.item select:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #1c87c9;
  color: #1c87c9;
}
.item {
  position: relative;
  margin: 10px 0;
}

span.required {
  margin-left: 0;
  color: red;
}
button {
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: #1e6fa0;
}
.btn-two {
	position: relative;
	left: 6rem;
	bottom: 2.4rem;
}
@media (min-width: 568px) {
  .name-item,
  .contact-item,
  .position-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-item input {
    width: calc(50% - 20px);
  }
  .contact-item .item,
  .position-item .item {
    width: calc(50% - 8px);
  }
  .contact-item input,
  .position-item input {
    width: calc(100% - 12px);
  }
  .position-item select {
    width: 100%;
  }
}
